@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
/* =============Styling the header section =============*/
.headerSection{
  @apply absolute inset-0 flex fixed top-0 left-0 justify-between text-white z-50 pt-5 h-[10vh] 
      bg-gradient-to-b from-black via-black/90 to-transparent
}
/* ==========Styling the hero section============= */
.heroSection{
  @apply bg-[url('./images/landingPage_back.jpg')]
}
.sectionIntro{
  @apply text-center mb-16
}
.introQuestion{
  @apply font-semibold text-sm uppercase
}
.sectionHeading{
  @apply text-3xl sm:text-4xl lg:text-5xl font-[15px] sm:font-[10px] lg:font-[20px] font-bold mt-2 mb-4 
}
.miniDescription{
  @apply text-lg text-white/50 max-w-3xl mx-auto
}
.footerSection{
  @apply bg-gradient-to-b from-transparent via-black/90 to-black
}
